<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="transaction-card">
  <template>
    <style>
      :host {
        display: block;
      }
      h2 {
        text-align: center;
      }
      .tableTxt {
        border: 1px solid black;
        width: 100%;
      }
      th {
        height: 50px;
        border: 1px solid black;
      }
      td {
        height: 100px;
        border: 1px solid black;
      }

    </style>
    <h2>[[prop1]]</h2>

    <table class="tableTxt">
      <tr class="tdHeader">
        <th>Texto1</th>  
        <th>Texto2</th>  
        <th>Texto3</th>  
      </tr>
      <tr>
        <td>Texto1</td>  
        <td>Texto2</td>  
        <td>Texto3</td>  
      </tr>
      <tr>
        <td>Texto1</td>  
        <td>Texto2</td>  
        <td>Texto3</td>  
      </tr>
      <tr>
        <td>Texto1</td>  
        <td>Texto2</td>  
        <td>Texto3</td>  
      </tr>
    </table>

  </template>

  <script>
    /**
     * `transaction-card`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TransactionCard extends Polymer.Element {
      static get is() { return 'transaction-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'transaction-card'
          }
        };
      }
    }

    window.customElements.define(TransactionCard.is, TransactionCard);
  </script>
</dom-module>
